body {
  background-color: #504a4a;
  /* color: white; */
}

h1 {
  color: white;
}

#box-1 {
  background-color: steelblue;
  
  padding: 1em;
}
/* Panels  */

.panel {
  background-color: rgb(43, 37, 37);
  border: 1px solid #ccc;
  text-align: center;
  height: 475px;
}

.panel .panel-heading {
  background-color: #f78f3f
}

.charDesc {
  color: white;
}

.green {
  border: green 5px solid;
}

img {
  border : pink 5px solid;
}